.card {
  background-color: white;
  border: 2px solid black;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.btn-primary {
  background-color: blueviolet;
}
